<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if signed_in? %>
        You are logged as <%= current_user.email %>
        <%= link_to "Profile", current_user %>
        <%= link_to "Settings", edit_user_path(current_user) %>
        <%= link_to "Logout", logout_path %>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
